<section>
	<div class="logo-clouds">
		<div class="logo-clouds section__heading">
			<h2>150,000+</h2>
			<p>
				Customers who use Landify UI Kit to build their new startup
				landing page.
			</p>
		</div>
		<div class="logo-clouds section_logos">
			<div class="logos__row">
				<img src="assets/icons/python.svg" alt="" />
				<img src="assets/icons/javascript.svg" alt="" />
				<img src="assets/icons/swift.svg" alt="" />
				<img src="assets/icons/html.svg" alt="" />
			</div>
			<div class="logos__row">
				<img src="assets/icons/django.svg" alt="" />
				<img src="assets/icons/react.svg" alt="" />
				<img src="assets/icons/nodejs.svg" alt="" />
				<img src="assets/icons/linux.svg" alt="" />
			</div>
		</div>
	</div>
</section>
